<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="w-full min-h-screen bg-zinc-800 p-10 text-white">
        <div class="w-full justify-end flex">

            <a class="px-4 py-2 rounded-md inline-block bg-red-500" href="/logout">logout</a>

        </div>


        <div class="flex gap-5 mb-3">
            <div class="w-12 h-12  rounded-full overflow-hidden">
                <img class="w-full h-full object-cover" src="/images/uploads/<%= user.profile %>" alt="default.png" >
                
            </div>
            
            <h1 class="text-2xl mb-5">Hello, <%= user.name %>👋🏻</h1>
           

                <a class="px-3 py-2 bg-green-500 rounded-md cursor-pointer" href="/profile/upload"> Upload Pic </a>
            
            
        </div>
       


        <h2 class="text-xl mb-5">Create Post</h2>

        <form action="/post" method="post">
            <textarea class="resize-none bg-transparent border-2 border-zinc-700 rounded-md w-1/3 p-5 block"
                placeholder="What's On Your mind?" name="content"></textarea>
            <input class="px-5 py-3 bg-blue-600 rounded-lg block mt-4 w-40 cursor-pointer" type="submit" value="Create Post">
        </form>

        <div class="mt-20 test-white">
            <h1 class="text-xl"> Your Posts</h1>

            <div class="container flex flex-wrap gap-4">
               <% user.post.reverse().forEach(function(post){ %>
                <div class="w-1/3 p-5 border-[1px] border-zinc-500 rounded-md mt-3">
                    <h4 class="text-green-500 font-semibold">@<%= user.username %></h4>
                    <p class="mt-2"><%= post.content %> </p>

                    <small class="mt-2 inline-block"><%= post.likes.length %> Likes</small>

                    <div class="mt-2 flex gap-[70px]">

                        <a class="font-semibold text-blue-500 " href="/like/<%= post._id %>">
                            <%= post.likes.indexOf(user._id) == -1 ? "Like" : "UnLike" %>
                        </a>
                        <a class="font-semibold px-3 py-1.5 rounded bg-yellow-500  " href="/edit/<%= post._id %>">Edit</a>
                    </div>



                  </div>
                

              <% }) %>
                  

            </div>
        </div>
    </div>




</body>

</html>